*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parent {
    /* border: 1px solid black; */
    width: 300px;
    height: 400px;
}

img {
    width: 300px;
    height: 200px;
    object-fit: cover;
}
