.card-container {
    display: flex;
    gap: 70px;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    background: #fff;
    width: 300px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s ease;
    border-radius: 8px;
}

.card:hover {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

/* Image */
.card .image-box {
    position: relative;
    height: 230px;
    overflow: hidden;
    width: 100%;
}

.image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
    border-radius: 0;
}

.card:hover .image-box img {
    transform: scale(1.1);
}

.heart-icon {
    position: absolute;
    top: 15px;
    right: 15px;
    /* background: rgba(255, 255, 255, 0.7); */
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    color: #555;
}

.heart-icon:hover {
    color: #e74c3c;
}

.card-content {
    padding-bottom: 15px;
    padding-right: 15px;
    padding-left: 15px;
}

.location-tag {
    font-size: 12px;
    color: #666;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.card-content h3 {
    font-size: 18px;
    color: #222;
    margin: 0;
    font-weight: 600;
}

.card .card-content h3:hover {
    color: #c44f15;
}

.card .card-content h3 {
    display: inline-block;
}