*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parent {
    
}

/* img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    opacity: 0.2;
    z-index: 1;
} */

.card-r {
    /* width: 300px;
    height: 400px;
    background-color: black;
    z-index: 2;
    opacity: 100;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.3);
    transition: transform 0.3s, box-shadow 0.3s; */
}

p {
    background-image: url(../images/Kaghan\ Valley\,\ Balakot\,\ Pakistan.jpg);
}

.card-r:hover {
    transform: translateY(-10px);
    box-shadow: 10px 10px 20px rgba(0,0,0,0.4);
}

