* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

.for-message {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-block: 100px;
}

.main-div {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url('./Media/hendrik-cornelissen--qrcOR33ErA-unsplash.jpg');
    background-size: cover;
    background-position: center;
    height: 400px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    font-family: 'poppins', sans-serif;
}

.I-line h1 {
    font-size: 45px;
    margin-bottom: 10px;
    font-weight: 500;
}

.II-line {
    font-size: 15px;
}

.II-line a {
    color: white;
    text-decoration: none;
}

.II-line a:hover {
    color: gray;
}

.II-line span {
    margin: 0 10px;
}

.for-message {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-block: 100px;
}

form {
    width: 90%;
    max-width: 600px;
}

.for-form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-block: 100px;
}

.inputs {
    margin-bottom: 30px;
    position: relative;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid lightgray;
    font-size: 15px;
    outline: 0;
    color: black;
}

label {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    cursor: text;
    transition: 0.2s;
}

.j-btn {
    padding: 10px;
    outline: 0;
    border: 1px solid lightgray;
    width: 100%;
    cursor: pointer;
}

input:focus~label,
input:valid~label,
textarea:focus~label,
textarea:valid~label {
    top: -35px;
    font-size: 14px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.row .inputs {
    flex-basis: 48%;
}

/* footer-code */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --themecolor: #c44f15;
}

#footer-r {
    background-color: var(--themecolor);
    /* border: 3px solid var(--themecolor); */
    display: flex;
    justify-content: space-between;
    gap: 50px;
    /* flex-direction: column; */
    padding: 50px;
    text-align: center;
    color: white;
    padding: 10px;
    list-style: none;
    list-style-type: none;
    font-family: 'Poppins', sans-serif;
    font-size: medium;
}

#footer-r>.image>img {
    margin-left: 15px;
    margin-top: 30px;
    background-color: white;
    border-radius: 50px;
    width: 200px;
    align-items: center;
}


.foot-r li {
    cursor: pointer;
    font-size: smaller;
    padding-top: 1px;
    text-align: start;
}

.foot-r li:hover {
    text-decoration: underline;
}


h4 {
    text-align: start;
}

.foot-r ul {
    list-style-type: none;
    line-height: 2.5;

}

.MailingList-r {
    display: block;
    padding-top: 10px;
    align-items: center;
    font-size: small;
}

.email-r {
    padding: 10px;
    border: none;
    margin-top: 10px;
    width: fit-content;
}

.btnemailr {
    padding: 10px;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
    margin-left: 5px;
}

.j-btn {
    color: white;
    background-color: #007BFF;
    font-size: medium;
}